.container {
  width: 51%;
  margin: 0 auto;
}

@media (max-device-width: 1300px), (max-width: 1300px){
  .container {
    width: 60%;
  }
}

@media (max-device-width: 1000px), (max-width: 1000px){
  .container {
    width: 80%;
  }
}

@media (max-device-width: 700px), (max-width: 700px){
  .container {
    width: 90%;
  }
}
